$card-padding: 2rem;
$card-fixed-width: 500px;

mat-card {
  max-width: calc(#{$card-fixed-width} - #{$card-padding});
}

.align-right {
  text-align: right;
}

.font-weight-normal {
  font-weight: normal;
}

.margin-right-10px {
  margin-right: 0.625rem;
}
