@import '~@angular/material/_theming.scss';

@include mat-core();

// Default theme colors:
$primary: mat-palette($mat-blue,800);
$accent: mat-palette($mat-teal);
$defaultIconSize: 1.5rem;
$cardContentHeight: 445px;

mat-card {
  padding: unset;
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

// Waiting on filter options
// mat-checkbox {
//   padding: 0.3125rem;
// }

mat-form-field {
  margin: 1% 0 1% 1%;
}

mat-selection-list {
  padding-top: unset;
}

.align-text-right {
  text-align: right;
}

.align-self-center {
  align-self: center;
}

// Waiting on filter options
// .bold {
//   font-weight: bold;
// }

.card-header-container {
  padding: 0.625rem 0.625rem 0 0.625rem
}

.card-content {
  min-height: $cardContentHeight;
  max-height: $cardContentHeight;
  overflow-y: scroll;
}

.card-content::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

.card-content::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

.card-content::-webkit-scrollbar-thumb
{
  background-color: mat-color($primary, default);
}

.cdk-drag-preview > * {
  display: none;
}

.due-date {
  color: red;
}

.edit-width {
  width: calc(100% - 2 * #{$defaultIconSize}) !important;
}

form::ng-deep .mat-form-field-wrapper {
  margin: unset;
  padding: unset;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 2;
}

.font-weight-normal, mat-checkbox {
  font-weight: normal;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.full-width-minus-icons {
  width: calc(100% - 2 * #{$defaultIconSize});
}

.form-buttons {
  margin: 1%;

  button {
    height: 100%;
  }
}

.margin-right-5px {
  margin-right: 0.3125rem;
}

.margin-right-10px {
  margin-right: 0.625rem;
}

.margin-right-unset {
  margin-right: unset;
}

.mat-icon-button {
  width: fit-content;
}

.no-tasks-view {
  height: $cardContentHeight;
}

.no-wrap {
  white-space: nowrap;
}

.padding-10px {
  padding: 0.625rem;
}

.reorder-width {
  width: calc(100% - #{$defaultIconSize}) !important;
}

.strike {
  text-decoration: line-through;
}

.task-count {
  font-size: 1rem;
}

.title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
