<mat-card>
  <div class="full-height">
    <!-- Static Height Heading -->
    <div>
      <!-- Card Header -->
      <div class="card-header-container">
        <!-- Task List Title -->
        <mat-card-title class="font-weight-normal">
          Task Lists
        </mat-card-title>
      </div>
      <mat-divider></mat-divider>
      <div class="flex-space-between padding-10px">
        <div class="align-self-center">
          <!-- Filter placeholder -->
          Filter options here...
        </div>
        <div>
          <!-- Delete Task Lists Button -->
          <button
            mat-icon-button
            [disabled]="isReordering"
            class="align-self-center"
            (click)="onToggleDeleteMode()"
            [matTooltip]="deleteTooltip">
            <mat-icon>{{ deleteIcon }}</mat-icon>
          </button>
          <!-- Reorder Task Lists Button -->
          <button
            mat-icon-button
            [disabled]="isDeleting"
            class="align-self-center"
            (click)="onToggleReorderMode()"
            [matTooltip]="reorderTooltip">
            <mat-icon>{{ reorderIcon }}</mat-icon>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <!-- Card Content -->
      <div>

      <!-- List of Tasks -->
      <mat-action-list
        cdkDropList
        [cdkDropListData]="taskLists"
        (cdkDropListDropped)="onReorderTaskList($event)">
        <!-- Draggable list item wrapping each Task -->
        <div
          cdkDrag
          class="flex"
          [cdkDragDisabled]="!isReordering"
          *ngFor="let taskList of taskLists">
          <button mat-list-item
            [disabled]="isDeleting || isReordering"
            [class.reorder-width]="isReordering"
            [class.edit-width]="isDeleting"
            (click)="onSelectList(taskList)">
            <div class="flex-space-between full-width">
              <div class="flex">
                <!-- Task Title -->
                <h4
                  mat-line
                  class="font-weight-normal"
                  [title]="taskList.description"
                  [ngClass]="{strike: taskList.allTasksCompleted}">
                  {{ taskList.title }}
                </h4>
                <!-- Task List Items Completed -->
                <h4 class="font-weight-normal task-count">({{ getCompletedTaskCount(taskList) }}/{{ getTaskCount(taskList)}})</h4>
              </div>
              <!-- Task List Date (Due or Completion) -->
              <ng-container *ngIf="taskList.allTasksCompleted; else allTasksDueDate;">
                <h5 class="margin-right-10px no-wrap">Completed {{ taskList.allTasksCompletedDate }}</h5>
              </ng-container>
              <ng-template #allTasksDueDate>
                <h5 class="font-weight-normal margin-right-10px">{{ taskList.allTasksDueDate }}</h5>
              </ng-template>
            </div>
          </button>
          <!-- Reorder State Options -->
          <!-- Drag handle -->
          <span
            cdkDragHandle
            *ngIf="isReordering"
            class="align-self-center"
            matTooltip="Drag to reorder this task">
            <mat-icon>
              drag_indicator
            </mat-icon>
          </span>
          <!-- Edit State Options -->
          <ng-container *ngIf="isDeleting">
            <!-- Delete Button -->
            <button mat-icon-button
              class="align-self-center"
              (click)="onDeleteTaskList(taskList)"
              matTooltip="Delete task list">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-container>
        </div>
      </mat-action-list>
    </div>

  </div>
  <!-- Quick Add Bar -->
  <form
  class="flex"
  (ngSubmit)="onQuickAddTaskList()"
  [formGroup]="quickAddFormGroup">
    <mat-divider></mat-divider>
    <!-- Task Name -->
    <mat-form-field
    class="flex-grow"
    appearance="outline">
      <mat-label>Create a new task list.</mat-label>
      <input
        matInput
        required
        placeholder="My task list"
        formControlName="name">
    </mat-form-field>
    <!-- New Task List Buttons -->
    <div class="form-buttons">
      <!-- Quick Add -->
      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="margin-right-5px"
        matTooltip="Add a new task list with just a name.">
        Quick Add
      </button>
      <!-- Detailed Add -->
      <button
        mat-raised-button
        color="accent"
        (click)="onDetailedAddTaskList($event)"
        matTooltip="Add a new task list with advanced details.">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </form>
</mat-card>
