$defaultIconSize: 1.5rem;

mat-card {
  padding: unset;
  height: 100%;
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.full-height {
  height: 100%;
}

mat-card-content {
}

mat-checkbox {
  padding: 0.3125rem;

}

::ng-deep .mat-form-field-wrapper {
  margin: unset;
  padding: unset;
}

mat-slide-toggle {
  margin-right: 5px;
}

.reorder-width {
  width: calc(100% - #{$defaultIconSize}) !important;
}

.edit-width {
  width: calc(100% - #{$defaultIconSize}) !important;
}

mat-selection-list {
  padding-top: unset;
}

mat-form-field {
  margin-left: 1%;
}

.mat-icon-button {
  width: fit-content;
}

.cdk-drag-preview > * {
  display: none;
}

.align-text-right {
  text-align: right;
}

.align-self-center {
  align-self: center;
}

.bold {
  font-weight: bold;
}

.card-header-container {
  border-radius: 0.25px;
  padding: 0.625rem 0.625rem 0 0.625rem;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.flex {
  display: flex;
}

.flex-grow {
  flex-grow: 2;
}

.font-weight-normal, mat-checkbox {
  font-weight: normal;
}

.padding-10px {
  padding: 0.625rem;
}

.margin-right-5px {
  margin-right: 0.3125rem;
}

.margin-right-10px {
  margin-right: 0.625rem;
}

.margin-right-unset {
  margin-right: unset;
}

.no-wrap {
  white-space: nowrap;
}

.strike {
  text-decoration: line-through;
}

.task-count {
  font-size: 1rem;
  margin-left: 0.625rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.form-buttons {
  margin: 1%;

  button {
    height: 100%;
  }
}

::ng-deep.mat-pseudo-checkbox{
  display: none !important;
}

.full-width {
  width: 100%;
}
