$toolbarHeight: 4rem;

.content-container {
  width: 100%;
  height: calc(100% - #{$toolbarHeight});
  background: lightgrey;
}


h1.app-name {
  margin-left: 0.5rem;
}

.toolbar-create-list {
  margin-left: 0.625rem;
}
